.baricon {
  width: 30px;
  height: 50px;
}

.baricon:hover {
  width: 35px;
}

<<<<<<< Updated upstream


.navbar
{
display: flex;
margin-top: 30px;

=======
.navbar {
  display: flex;
  margin-top: 30px;
  background-color: ;
>>>>>>> Stashed changes
}

.navbar .searchbox {
  margin-left: 40%;
  display: flex;
  justify-content: center;
}

.searchbox input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  font-size: 28px;
  border-radius: 4px;
}

.searchI {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchicon {
  width: 30px;
  height: 50px;
  margin: auto 10px;
  padding-bottom: 2px;
}

.navbarheader {
  background-color: rgb(206, 52, 52);
  height: 200px;
  font-size: 34px;
  color: white;
  font-family: "Segoe UI";
  display: flex;
  align-items: center;
  font-weight: 600;
}
